<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}

    <link rel="stylesheet" type="text/css" href="/css/learning_style.css">
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
    <script>
        $(window).on('scroll', function () {
            if ($(window).scrollTop()) {
                $('nav').addClass('black');
            } else {
                $('nav').removeClass('black');
            }
        })
    </script>

<body>
 
    <div>
          <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo" style="color: white;">BrightCareer</h1>
<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href=>Home</a></li>
      <li><a class="nav-link scrollto" href="http://localhost:4000/index#about">About</a></li>
      <li><a class="nav-link scrollto" href="http://localhost:4000/index#services">Services</a></li>
      <li><a class="nav-link scrollto " href="http://localhost:4000/index#courses">Courses</a></li>
      <li><a class="nav-link scrollto" href="http://localhost:4000/index#team">Team</a></li>
      <li><a class="nav-link  " href="http://localhost:4000/index#blog">Blog</a></li>
      <li><a class="nav-link scrollto" href="http://localhost:4000/index#contact">Contact</a></li>

      

      
      <li class= "btn-get-started scrollto"><a  href=" /register ">Log in/ Register</a></li>

    </ul>
   
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>

</div>
</div>

</div>
</header>
    </div>

    <div class="head-container">
        <div class="quote">
            <p>The beautiful thing about learning is that nobody can take it away from
                you</p>
            <h5>Education is the process of facilitating learning, or the acquisition
                of knowledge, skills, values, beliefs, and habits. Educational methods
                include teaching, training, storytelling, discussion and directed
                research!</h5>
            <div class="play">
                <img src="/img/creator/play.png" alt="play"><span><a href="https://youtu.be/mz8fG1ZD18A"
                        target="_blank">Watch
                        Now</a></span>
            </div>
        </div>
        <div class="svg-image">
            <img src="/img/creator/svg1.jpg" alt="svg">
        </div>
    </div>
    <div class="side-menu" id="side-menu">
        <div class="close" onclick="sideMenu(1)"><img src="/img/creator/close.png" alt=""></div>
        <div class="user">
            <img src="/img/creator/roshan.jpeg" alt="Username">
            <p>1</p>
        </div>
        <ul>
            <li><a href="#about_section">About</a></li>
            <li><a href="#portfolio_section">Portfolio</a></li>
            <li><a href="#team_section">Team</a></li>
            <li><a href="#services_section">Services</a></li>
            <li><a href="#contactus_section">Contact</a></li>
            <li><a href="#feedBACK">Feedback</a></li>
        </ul>
    </div>
    </header>


    <!-- Some Popular Subjects -->
    <div class="title">
        <span>Popular Exams after graduation </span>
    </div>
    <br><br>
    <div class="course">
        <center>
            <div class="cbox">
                <div class="det"><a href="https://www.upsc.gov.in/"><img src="/img/creator/book.png">UPSE </a></div>
                <div class="det"><a href="https://gate.iitkgp.ac.in/"><img src="/img/creator/d1.png">GATE</a></div>
                <div class="det"><a href="https://iimcat.ac.in/"><img src="/img/creator/paper.png">CAT</a></div>
                <div class="det"><a href="http://www.aima.in/"><img src="/img/creator/data.png">AIMA</a></div>
            </div>
        </center>
        <center>
            <div class="cbox">
                <div class="det"><a href="https://sbi.co.in/web/careers"><img src="/img/creator/book.png">SBI PO </a>
                </div>
                <div class="det"><a href="https://www.adda247.com/jobs/rbi-grade-b/"><img
                            src="/img/creator/d1.png">RBI</a></div>
                <div class="det"><a href="https://ssc.nic.in/"><img src="/img/creator/paper.png">SSC CGL</a></div>
                <div class="det"><a href="https://nludelhi.ac.in/adm-ba-test.aspx"><img
                            src="/img/creator/data.png">AILET</a></div>
            </div>
        </center>
        <div class="cbox">
            <div class="det"><a href="subjects/computer_courses.html"><img src="/img/creator/book.png">GMAC</a></div>

            <div class="det"><a href="https://www.ets.org/gre.html"><img src="/img/creator/d1.png">GRE</a></div>
            <div class="det"><a href="https://jam.iitg.ac.in/"><img src="/img/creator/paper.png">IIT JAM</a></div>
            <div class="det det-last"><a href="https://consortiumofnlus.ac.in/clat-2023/"><img
                        src="/img/creator/data.png">CLAT</a></div>
        </div>
    </div>


    <!-- ABOUT -->
    <div class="diffSection" id="about_section">
        <center>
            <p style="font-size: 50px; padding: 100px">About</p>
        </center>
        <div class="about-content">
            <div class="side-image">
                <img class="sideImage" src="/img/creator/e3.jpg">
            </div>
            <div class="side-text">
                <h2>What do you think about us ?</h2>
                <p>Career guidance is the process of facilitating in learning knowing interests, or the acquisition of
                    knowledge, skills, values, beliefs, and habits. Educational methods
                    include teaching, training, storytelling, discussion and directed
                    research.<br> counselling website can include websites that have tests,
                    videos or topic related resources that act as tools to enhance in knowing ourselves
                    and supplement interesting fields. These websites help make the process of
                    career and learning interesting in life , especially in today's
                    era of evolving technologies. <br> Career guidance is a boon in such confusing and
                    day today changing interesting to choose right path
                </p>
            </div>
        </div>
    </div>


    <!-- PORTFOLIO -->
    <div class="diffSection" id="portfolio_section">
        <center>
            <p style="font-size: 50px; padding: 100px; padding-bottom: 40px;">Portfolio</p>
        </center>
        <div class="content">
            <p>
                “Guidance in career is the passport to the future, for tomorrow belongs to those who
                prepare for it today.” “Your attitude, not your aptitude, will determine
                your altitude.” “If you think guidance is waste of money, try ignorance.” “The
                only person who is educated is the one who has learned how to learn …and
                change.”
            </p>
        </div>
    </div>
    <div class="extra">
        <p>We're increasing this data every year</p>
        <div class="smbox">
            <span>
                <center>
                    <div class="data">200+</div>
                    <div class="det">Enrolled Students</div>
                </center>
            </span>
            <span>
                <center>
                    <div class="data">20+</div>
                    <div class="det">Courses</div>
                </center>
            </span>
            <span>
                <center>
                    <div class="data">60+</div>
                    <div class="det">Satisfied Students</div>
                </center>
            </span>
            <span>
                <center>
                    <div class="data">120+</div>
                    <div class="det">Total Running</div>
                </center>
            </span>
        </div>
    </div>


    <!-- TEAM -->
    <div class="diffSection" id="team_section">
        <center>
            <p style="font-size: 50px; padding-top: 100px; padding-bottom:
					60px;">After Graduation Guidance</p>
        </center>
        <div class="totalcard">
            <div class="card">
                <center><img src="/img/creator/15betch.png"></center>
                <center>
                    <div class="card-title">VIEW DETAIL</div>
                    <div id="detail">
                        <p>“ 15 career options after B. Tech for engineers and complete list is available.
                            click on visit for more
                            “</p>
                        <div class="duty"></div>
                        <a href="https://youtu.be/yUaJCjiPBnY" target="_blank"><button class="btn-roshan">VIEW
                                DETAIL</button></a>
                    </div>
                </center>
            </div>
            <div class="card">
                <center><img src="/img/creator/exambtech.png"></center>
                <center>
                    <div class="card-title">After B.Tech Exams</div>
                    <div id="detail">
                        <p>“ LIST of popular exam after B.Tech completion for M.Tech and other Degrees“</p>
                        <div class="duty"></div>
                        <a href="https://youtu.be/qKgeQ83Hs2Q" target="_blank"><button class="btn-roshan">VIEW
                                DETAIL</button></a>
                    </div>
                </center>
            </div>
            <div class="card">
                <center><img src="/img/creator/abroadexams.png"></center>
                <center>
                    <div class="card-title">Exams to study Abroad </div>
                    <div id="detail">
                        <p>“ After completing b tech which are the exam to study abroad. video with complete detail
                            available.“</p>
                        <div class="duty"></div>
                        <a href="https://youtu.be/Su4xon3Bj2g" target="_blank"><button class="btn-roshan">VIEW
                                DETAIL</button></a>
                    </div>
                </center>
            </div>



            <div class="totalcard">
                <div class="card">
                    <center><img src="/img/creator/bba.png"></center>
                    <center>
                        <div class="card-title">Career Options after BBA</div>
                        <div id="detail">
                            <p>“ There is list of the career options After completion of BBA AND other under graduation
                                degree. “</p>
                            <div class="duty"></div>
                            <a href="https://youtu.be/Kdpx3jy72qE" target="_blank"><button class="btn-roshan">VIEW
                                    DETAIL</button></a>
                        </div>
                    </center>
                </div>
                <div class="card">
                    <center><img src="/img/creator/diploma.png"></center>
                    <center>
                        <div class="card-title">Diploma After UG</div>
                        <div id="detail">
                            <p>“ Here the list of diploma courses after graduation in BSC,BBA, B.COM and many more“</p>
                            <div class="duty"></div>
                            <a href="https://youtu.be/jPp_bC5SPHA" target="_blank"><button class="btn-roshan">VIEW
                                    DETAIL</button></a>
                        </div>
                    </center>
                </div>
                <div class="card">
                    <center><img src="/img/creator/upscpu.png"></center>
                    <center>
                        <div class="card-title">Courses for UPSC PSU</div>
                        <div id="detail">
                            <p>“ Here is the list of career after Bsc or under graduation for Top government Exams like
                                UPSC PSU “</p>
                            <div class="duty"></div>
                            <a href="https://youtu.be/Sh3coWOLPI8" target="_blank"><button class="btn-roshan">VIEW
                                    DETAIL</button></a>
                        </div>
                    </center>
                </div>
                <div class="totalcard">
                    <div class="card">
                        <center><img src="/img/creator/sysadmi.png"></center>
                        <center>
                            <div class="card-title">System Administration</div>
                            <div id="detail">
                                <p>“ Here is the list of system administration Certificates and there scope in career to
                                    get jobs. “</p>
                                <div class="duty"></div>
                                <a href="https://youtu.be/toXnNPanIBs" target="_blank"><button class="btn-roshan">VIEW
                                        DETAIL</button></a>
                            </div>
                        </center>
                    </div>
                    <div class="card">
                        <center><img src="/img/creator/sports.png"></center>
                        <center>
                            <div class="card-title">Career in Sports</div>
                            <div id="detail">
                                <p>“ Here is the list and ways to make career options in sports after completion of
                                    graduations.“</p>
                                <div class="duty"></div>
                                <a href="https://youtu.be/gddo0JwQMsg" target="_blank"><button class="btn-roshan">VIEW
                                        DETAIL</button></a>
                            </div>
                        </center>
                    </div>
                    <div class="card">
                        <center><img src="/img/creator/listgovexam.png"></center>
                        <center>
                            <div class="card-title">Top GOVT EXAMS </div>
                            <div id="detail">
                                <p>“Here is the list of top government exam after graduation in india and earn high
                                    salary “</p>
                                <div class="duty"></div>
                                <a href="https://youtu.be/qHKS63VmMMs" target="_blank"><button class="btn-roshan">VIEW
                                        DETAIL</button></a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>
            <!-- SERVICES -->
            <div class="service-swipe">
                <div class="diffSection" id="services_section">
                    <center>
                        <p style="font-size: 50px; padding: 100px; padding-bottom: 40px;
								color: #fff;">Upcoming Services</p>
                    </center>
                </div>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/computer-courses.png">
                        <p>Free Online Computer Courses</p>
                    </div>
                </a>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/brainbooster.png">
                        <p>Building Concepts for Competitive
                            Exams</p>
                    </div>
                </a>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/online-tutorials.png">
                        <p>Online Video Lectures</p>
                    </div>
                </a>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/papers.jpg">
                        <p>Sample Papers of Various Competitive
                            Exams</p>
                    </div>
                </a>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/p3.png">
                        <p>Performance
                            and Ranking Report</p>
                    </div>
                </a>
                <a href="#mentorsection">
                    <div class="s-card"><img src="/img/creator/discussion.png">
                        <p>Discussion with Our Tutors & Mentors</p>
                    </div>
                </a>
                <a href="#">
                    <div class="s-card"><img src="/img/creator/q1.png">
                        <p>Daily Brain Teasing Questions to Improve IQ</p>
                    </div>
                </a>
                <a href="#contactus_section">
                    <div class="s-card"><img src="/img/creator/help.png">
                        <p>24x7 Online Support</p>
                    </div>
                </a>
            </div>

            <!-- PROJECTS -->
            <div class="diffSection" id="about_section">
                </class>
                <center>
                    <p style="font-size: 50px; padding: 100px">Browse other helpful Services</p>
                </center>
                <div class="title" id="projects">
                </div>
            </div>
            <div class="project-panel">
                <div class="project-card">
                    <img src="/img/creator/resume1.jpg">
                    <div class="info">
                        <h4>Resume review</h4>
                        <p>Make your resume look attractive and look different from others</p>
                        <div class="download"><a href="#" target="_blank">GET HELP</a></div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="/img/creator/resume1.jpg">
                    <div class="info">
                        <h4>Resume Development</h4>
                        <p>Get your resume developed time to time with the help of our experts. </p>
                        <div class="download"><a href="#" target="_blank">GET HELP</a></div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="/img/creator/linkedin1.jpg">
                    <div class="info">
                        <h4>Linkedin profile review</h4>
                        <p>Get paid help and make your linkedin profile look unique and attractive.</p>
                        <div class="download"><a href="#" target="_blank">GET HELP</a></div>
                    </div>
                </div>

                <div class="project-card">
                    <img src="/img/creator/postg1.jpg">
                    <div class="info">
                        <h4>Postgraduate Study Session</h4>
                        <p>Get sessions or meetings with our experts for Postgraduate doubt clears.</p>
                        <div class="download"><a href="#" target="_blank">GET HELP</a></div>
                    </div>
                </div>
                <div class="project-card">
                    <img src="/img/creator/help1.jpg">
                    <div class="info">
                        <h4>Need Help Selecting The Right Services For You?</h4>
                        <p>Our team is happy to help which service of our platform helpful for you</p>
                        <div class="download"><a href="#" target="_blank">CONTACT Us</a></div>
                    </div>
                </div>

            </div>

            <br><br><br><br><br>
            <!-- Reviews by Students -->
            <div id="makeitfull">
                <a href="#review_section"><img src="/img/creator/makeitfull.png"></a>
            </div>
            <div class="review">
                <div class="diffSection" id="review_section">
                    <center>
                        <p style="font-size: 40px; padding: 100px; padding-bottom: 40px;
								color: #2E3D49;">What the Students Say About Us?</p>
                    </center>
                </div>
                <div class="rev-container">
                    <div class="rev-card">
                        <div class="identity">
                            <img src="/img/creator/humanNotExist1.jpg">
                            <p>SAIJAL DIKSHIT</p>
                            <h6>M.TECH USA</h6>
                            <div class="rating"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"></div>
                        </div>
                        <div class="rev-cont">
                            <p id="title">Review:</p>
                            <p id="content">
                                I would like to take this opportunity to thank you and the team at CAREER BRIGHT for
                                helping me and guiding me throughout the
                                admission and application process. Right from course selection, to shortlisting
                                universities,
                                application and interview preparation, standardized tests, visa, etc. the guidance that
                                was provided was really fantastic.
                            </p>
                        </div>
                    </div>
                    <div class="rev-card">
                        <div class="identity">
                            <img src="/img/creator/humanNotExist2.jpg">
                            <p>PRITAM MEHRA</p>
                            <h6>IAS</h6>
                            <div class="rating"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"></div>
                        </div>
                        <div class="rev-cont">
                            <p id="title">Review:</p>
                            <p id="content">
                                The essay editing done by the CAREER BRIGHT team was amazing. I believe it was the most
                                key element transforming my
                                1200 word essay into an impactful 750 word essay, which I believe was instrumental in my
                                admission decision.
                                They were also very helpful in getting it done in a very short time frame.
                            </p>
                        </div>
                    </div>
                    <div class="rev-card">
                        <div class="identity">
                            <img src="/img/creator/humanNotExist3.jpg">
                            <p>DURGESH SETHI</p>
                            <h6>PHD HOLDER</h6>
                            <div class="rating"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"></div>
                        </div>
                        <div class="rev-cont">
                            <p id="title">Review:</p>
                            <p id="content">
                                CAREER BRIGHT was an amazing experience for me. I belong am the one
                                who is always give thanks to these platform. The way they clear my doubts
                                and help me in knowing my interests. I am now living such a luxurious and happy life
                                at both in my job and house. the reason for this is that i am working in my interesting
                                field.
                                Only this happen is because of CAREER BRIGHT.
                            </p>
                        </div>
                    </div>
                    <div class="rev-card">
                        <div class="identity">
                            <img src="/img/creator/humanNotExist4.jpg">
                            <p>RINA JAIN</p>
                            <h6>ATHLETE</h6>
                            <div class="rating"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"><img
                                    src="/img/creator/star.png"><img src="/img/creator/star.png"></div>
                        </div>
                        <div class="rev-cont">
                            <p id="title">Review:</p>
                            <p id="content">
                                Taking Career counselling from CAREER BRIGHT is the best part of my life and now i am at
                                such position in my that i can never regret on the money I paid. I would suggest you to
                                not think too much and just take the service and you will be going to always thanks me.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CONTACT US 
				<div class="diffSection" id="contactus_section">
					<center><p style="font-size: 50px; padding: 100px">Contact Us</p></center>
					<div class="csec"></div>
					<div class="back-contact">
						<div class="cc">
							<form action="mailto:roshank9419@gmail.com" method="post"
								enctype="text/plain">
								<label>First Name <span class="imp">*</span></label><label
									style="margin-left: 185px">Last Name <span class="imp">*</span></label><br>
								<center>
									<input type="text" name="" style="margin-right: 10px; width: 175px"
										required="required"><input type="text" name="lname" style="width:
										175px" required="required"><br>
								</center>
								<label>Email <span class="imp">*</span></label><br>
								<input type="email" name="mail" style="width: 100%" required="required"><br>
								<label>Message <span class="imp">*</span></label><br>
								<input type="text" name="message" style="width: 100%"
									required="required"><br>
								<label>Additional Details</label><br>
								<textarea name="addtional"></textarea><br>
								<button type="submit" id="csubmit">Send Message</button>
							</form>
						</div>
					</div>
				</div>

			-->
            <!-- FEEDBACK 
				<div class="title2" id="feedBACK">
					<span>Give Feedback</span>
					<div class="shortdesc2">
						<p>Please share your valuable feedback to us</p>
					</div>
				</div>

				<div class="feedbox">
					<div class="feed">
						<form action="mailto:roshank9419@gmail.com" method="post"
							enctype="text/plain">
							<label>Your Name</label><br>
							<input type="text" name="" class="fname" required="required"><br>
							<label>Email</label><br>
							<input type="email" name="mail" required="required"><br>
							<label>Additional Details</label><br>
							<textarea name="addtional"></textarea><br>
							<button type="submit" id="csubmit">Send Message</button>
						</form>
					</div>
				</div>
			-->
            <!-- Sliding Information -->
            <marquee style="background: linear-gradient(to right, #5737fa, #3327df);
					margin-top: 50px;" direction="left" onmouseover="this.stop()" onmouseout="this.start()" scrollamount="20">
                <div class="marqu">“Career counselling helps overcome these obstacles and chalk
                    out the path to career success by providing relevant knowledge. Also, it allows you to adopt the
                    best practices that
                    will pave the way to career success.
                    The right knowledge will build your confidence, boost your morale and overcome barriers easily.
                    change.”</div>
            </marquee>
        

</div>
{{>footer}}
</body>