<header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo" style="color: white;">BrightCareer</h1>
<nav id="navbar" class="navbar">
    <ul>
      <li><a class="nav-link scrollto active" href="/index#home">Home</a></li>
      <li><a class="nav-link scrollto" href="/index#about">About</a></li>
      <li><a class="nav-link scrollto" href="/index#services">Services</a></li>
      <li><a class="nav-link scrollto " href="/index#facts">Courses</a></li>
      <li><a class="nav-link scrollto " href="/index#blog">Blog</a></li>
      <li><a class="nav-link scrollto" href="/index#team">Team</a></li>
      
      <li><a class="nav-link scrollto" href="/index#contact">Contact</a></li>

      

      
      {{!-- <li class= "btn-get-started scrollto">{{#if variable}}
        <!-- SHOW LOGIN -->
        <a  href=" /register ">Log in/ Register</a></li>
        {{else}}
        <!-- SHOW LOGOUT -->
        <a  href=" /logout">Logout</a></li>
        {{/if}} --}}

    </ul>
   
    <i class="bi bi-list mobile-nav-toggle"></i>
  </nav>

</div>
</div>

</div>
</header>